@using Mor_Qui_Sun_Tis_Lau.Core.Domain.ProductContext
@using Mor_Qui_Sun_Tis_Lau.Helpers
@model List<FoodItem>

<div class="lightTheme_bg">
    <a class="addProductButton text-center" asp-page="@UrlProvider.Admin.CreateProduct">Create new product</a>
    <table class="productsTable">
        <thead>
            <tr>
                <th>Product Image</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img src="@Url.Content($"~/img/{item.ImageLink}")" alt="@item.Name" class="productImage">
                    </td>
                    <td>@item.Name</td>
                    <td style="word-wrap: break-word; white-space: normal; max-width: 500px;">@item.Description</td>
                    <td style="min-width: 150px;">@item.Price.ToString("F2") NOK</td>
                    <td>
                        <a class="editButton" asp-page="@UrlProvider.Admin.EditProduct"
                            asp-route-productId="@item.Id">Edit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>